.register-container {
  display: flex;
  flex-direction: row;
}

.heroPage {
  background-color: #080d39;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 3rem;
}
.themeName {
  color: white;
  padding-top: 2rem;
}

.hide {
  display: none;
  font-weight: 900;
}

.offscreen {
  display: none;
  color: #333;
  font-size: 10px;
}

.desc {
  max-width: "70%";
  color: white;
  padding-top: 2rem;
  width: 500px;
}

.formPage {
  background-color: #e6e8ff;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  text-justify: left;
  text-align: left;
  width: 500px;
  color: #080d39;
}

.themeForm {
  color: #080d39;
}

label {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  height: 2rem;
  border: 1px solid #080d39;
  border-radius: 5px;
}

.button-form {
  width: 100%;
  background-color: #080d39;
  color: white;
  align-self: center;
  margin: 2rem;
  font-size: 0.9rem;
  padding: 0.7rem 0;
  font-weight: 900;
  border: 1px solid #080d39;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease-in-out;
  text-decoration: none;
}

.button-text {
  text-align: center;
  text-decoration: none;
}
/* 
.form-button:hover {
  border: 1px solid #080d39;
  color: #080d39;
  background-color: #e6e8ff;
} */

.othertext {
  color: rgb(220, 83, 37);
  font-weight: 900;
}

.errmsg {
  color: brown;
  font-size: 15px;
  font-weight: rgb(220, 83, 37);
  font-weight: 900;
}

/* .button {
  align-self: center;
} */

.welcomePage {
  background-color: #080d39;
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  color: #e6e8ff;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.welcome-paragraph {
  color: #e6e8ff;
  font-size: 15px;
}

/* MEDIA RESPONSIVENESS */
@media (width <= 900px) {
  .register-container {
    display: flex;
    flex-direction: column;
  }
  .heroPage {
    background-color: #080d39;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
  }

  .themeName {
    color: white;
    padding-top: 1rem;
  }

  .desc {
    display: flex;
    width: 60vw;
    color: white;
    padding-top: 3rem;
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }

  .formPage {
    background-color: #e6e8ff;
    height: 50%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .themeForm {
    color: #080d39;
    margin-top: 1rem;
  }

  form {
    width: 80%;
  }

  label {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  input {
    height: 2rem;
    border: 1px solid #080d39;
    border-radius: 5px;
  }

  .form-button {
    width: 80%;
    background-color: #080d39;
    color: white;
    align-self: center;
    margin: 3rem;
    font-size: 0.9rem;
    padding: 0.7rem 0;
    font-weight: 700;
  }
}
